<app-header [backRoute]="'/home'" [title]="'Product Detail'" [showCart]="true" [total]="amount"></app-header>

<ion-content>
  @if (product != null) {
  <ion-grid class="product-detail">
    <ion-row>
      <ion-col>
        <h1 class="product-title">{{ product.title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <img [src]="product.image" class="product-image" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="product-category">{{ product.category }}</p>
      </ion-col>
      <ion-col class="product-price">
        <h2>{{ product.price | currency }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Description</h3>
        <p class="product-description">{{ product.description }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="product-rating">
        <p>{{ product.rating.rate }} <ion-icon name="star"></ion-icon> ({{ product.rating.count }} reviews) </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  }
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button expand="full" fill="solid" (click)="addToCart(product)">
      Add to Cart
    </ion-button>
  </ion-toolbar>
</ion-footer>