  ion-content {
    --background: #f8f8f8;
  }
  .no-scroll {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .payment-button {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
  }
