<app-header [showCart]="true"></app-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-button fill="outline" size="small" (click)="sortProducts('asc')">Asc<ion-icon
            name="arrow-up-outline"></ion-icon></ion-button>
        <ion-button fill="outline" size="small" (click)="sortProducts('desc')">Desc<ion-icon
            name="arrow-down-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <ion-select placeholder="Select an Item" [(ngModel)]="selectedCategory" (ionChange)="filterProducts()">
          <ion-select-option value="all">All</ion-select-option>
          @for(category of categories; track category;) {
          <ion-select-option value="{{category}}">{{category}}</ion-select-option>
          }
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      @for (product of products; track product;) {
      <ion-col size="6" size-md="4" size-lg="2">
        <app-card-product [product]="product"></app-card-product>
      </ion-col>
      }
    </ion-row>
  </ion-grid>
</ion-content>