<app-header [backRoute]="'/home'" [title]="'Cart'"></app-header>

<ion-content>
  <ion-list>
    @for (item of cartItems; track $index) {
    <app-cart-item (total)="getTotalPrice($event)" [item]="item" (cartItems)="getCartItems($event)"></app-cart-item>
    }
  </ion-list>
</ion-content>

<ion-footer class="cart-footer">
  <ion-toolbar>
    <div class="total-container">
      <span class="total-label">Total:</span>
      <span class="total-amount">{{total.toFixed(2) | currency}}</span>
    </div>
  </ion-toolbar>
  @if(total >= 1){
  <ion-button expand="full" color="primary" (click)="goCheckout()">Checkout</ion-button>
  }
</ion-footer>