<app-header [backRoute]="'/home'" [title]="'Cart'"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <div class="quantity-container">
          <ion-button fill="clear" (click)="decreaseQuantity(item.id)" class="quantity-button">-</ion-button>
          <span class="quantity-text">{{ item.quantity }}</span>
          <ion-button fill="clear" (click)="increaseQuantity(item.id)" class="quantity-button">+</ion-button>
          <ion-button fill="clear" color="danger" class="remove-button">🗑</ion-button>
        </div>
      </ion-label>
      <h2>${{ item.price }}</h2>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer class="cart-footer">
  <ion-toolbar>
    <div class="total-container">
      <span class="total-label">Total:</span>
      <span class="total-amount">${{total.toFixed(2)}}</span>
    </div>
  </ion-toolbar>
  <ion-button expand="full" color="primary">Checkout</ion-button>
</ion-footer>