<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="intro-content">
  <div class="intro-container">
    <img src="/assets/img/banner for a store without people and without electronic products.png" class="intro-logo" />

    <h1 class="animate-text">Bienvenido a Mi Tienda Virtual</h1>
    <p class="animate-text">Explora nuestra selección de productos y encuentra lo que necesitas al mejor precio.</p>
  </div>
</ion-content>